{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Klub Sportowy "ISKRA" przy Akademii Marynarki Wojennej</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >

    <!-- Custom CSS -->
    <link href="{% static 'css/iskra.css' %}" rel="stylesheet">
    <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">

    <!--Favicon-->
    <link rel="icon" type="image/png" href="{% static 'images/favicon-iskra.png' %}">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Files for django-calendarium-->
    <link rel="stylesheet" href="{% static 'calendarium/css/calendar2.css' %}">

    <!-- jQuery -->
    <!--<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <!--FancyBox-->
    <!-- Add mousewheel plugin (this is optional) -->
    <script type="text/javascript" src="{% static 'fancybox/lib/jquery.mousewheel-3.0.6.pack.js' %}"></script>

    <!-- Add fancyBox -->
    <link rel="stylesheet" href="{% static 'fancybox/source/jquery.fancybox.css' %}" type="text/css" media="screen" />
    <script type="text/javascript" src="{% static 'fancybox/source/jquery.fancybox.pack.js' %}"></script>

    <!-- Optionally add helpers - button, thumbnail and/or media -->
    <link rel="stylesheet" href="{% static 'fancybox/source/helpers/jquery.fancybox-buttons.css' %}" type="text/css" media="screen" />
    <script type="text/javascript" src="{% static 'fancybox/source/helpers/jquery.fancybox-buttons.js' %}"></script>
    <script type="text/javascript" src="{% static 'fancybox/source/helpers/jquery.fancybox-media.js' %}"></script>

    <link rel="stylesheet" href="{% static 'fancybox/source/helpers/jquery.fancybox-thumbs.css' %}" type="text/css" media="screen" />
    <script type="text/javascript" src="{% static 'fancybox/source/helpers/jquery.fancybox-thumbs.js' %}"></script>

    <!-- Sticky footer -->
    <script type="text/javascript" src="{% static 'js/jquery.stickyfooter.min.js' %}"></script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Analytics-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-32924821-2', 'auto');
      ga('send', 'pageview');

</script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'account.views.main_page' %}">KS Iskra</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'account.views.sekcje' %}">Sekcje</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Aktualności <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'blog.views.news_list' %}">Newsy</a>
                            </li>
                            <li>
                                <a href="{% url 'blog.views.news_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span> Dodaj newsa</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <!--<a href="/kalendarz/">Kalendarz sportowy</a>-->
                        <a href="{% url 'calendar_current_month' %}">Kalendarz</a>
                    </li>
                    <li>
                        <a href="{% url 'sharings:list' %}">Ciekawostki</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'blog:post_list' %}">Posty klubowiczów</a>
                            </li>
                            <li>
                                <a href="{% url 'blog:post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span> Dodaj post</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'account.views.contact' %}">Kontakt</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inne <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" id="o-klubie">O klubie</a>
                            </li>
                            <li>
                                <a href="#" id="wladze-klubu">Władze klubu</a>
                            </li>
                            <li>
                                <a href="{% static 'assets/Deklaracja-Iskra.zip' %}">
                                    Deklaracja członkostwa &nbsp; <i class="fa fa-file-archive-o fa-lg"></i>
                                    </a>
                            </li>
                            <li>
                                <a href="{% static 'assets/Darowizna-Iskra.zip' %}">
                                    Druk darowizny &nbsp; <i class="fa fa-file-archive-o fa-lg"></i>
                                    </a>
                            </li>
                            <li>
                                <a href="{% static 'assets/Dodawanie-obrazkow.pdf' %}">
                                    Instrukcja dodawania obrazków &nbsp; <i class="fa fa-file-pdf-o fa-lg"></i>
                                    </a>
                            </li>
                            <li>
                                <a href="#" id="acs">ACS</a>
                            </li>
                            <li>
                                <a href="http://khaos.nazwa.pl/iskra/" target="_blank">Starsza strona klubu</a>
                            </li>

                        </ul>
                    </li>
                    {% if request.user.is_authenticated %}
                        <li>
                            <a href="{% url 'dashboard' %}"><i class="fa fa-cog fa-spin"></i> Mój panel</a>
                        </li>
                    {% endif %}
                    <li>
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'logout' %}?next=/">Wyloguj się, {{ request.user.first_name }}</a>
                        {% else %}
                        <a href="{% url 'login' %}">Zaloguj</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- 'messages' framework -->
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">
                {{ message|safe }}
                <a href="{% url 'dashboard' %}" class="close">✖</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}


    {% block content %}
        {% block main %}
        <!-- block 'main' is necessary for django-calendarium-->
        {% endblock %}
    {% endblock %}

    <!-- Footer -->
    <footer id="footer">
        <div class="row">
            <div class="col-lg-12">
                <p style="text-align: center"> &copy; KS "Iskra" przy AMW, 1997 - 2016</p>
            </div>
        </div>
    </footer>

    <!--</div>-->
        <!-- /.container -->
    <!--Interaction with cookies-->
    <script src=" http://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js "></script>
    <!--checking the DOM-->
    <script>
        var csrftoken = $.cookie('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        $(document).ready(function(){
            {% block domready %}
            {% endblock %}
        });
    </script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <!-- modals for 'Inne' tab -->
    {% include "account/wladze-klubu.html" %}
    {% include "account/o-klubie.html" %}
    {% include "account/acs.html" %}

    <!--modals in 'Inne' section-->
    <script>
    $(document).ready(function() {
        $("#wladze-klubu").click(function () {
            $("#myModal").modal();
            });
        $("#o-klubie").click(function () {
            $("#myModal2").modal();
            });
        $("#acs").click(function () {
            $("#myModal3").modal();
            });
        });
    </script>


    <!-- Right click disabled-->
   <!-- <script>
        $(function(){
            $(document).on("contextmenu",function(e){
            e.preventDefault();
            });
            });
    </script>-->
    <!-- JS specific for given page -->
    {% block js-scripts %}
    {% endblock %}

</body>

</html>
