{% extends "base.html" %}
{% load i18n %}
{% load i18n calendarium_tags %}

{% block main %}
    <div class="container">
        <div class="row">
            <h1 class="text-center">{{ date|date:"F Y" }}</h1>
            <form action="." method="post" class="text-center">
                {% csrf_token %}
                <input class="btn btn-default" type="submit" name="previous" value="{% trans 'Poprzedni' %}" />
                <input class="btn btn-default" type="submit" name="next" value="{% trans 'Następny' %}" />
                <input class="btn btn-default" type="submit" name="today" value="{% trans 'Today' %}" />
                {% if request.user.is_staff %}
                    <a href="{% url 'calendar_event_create' %}">{% trans "Utwórz nowe wydarzenie" %}</a>
                {% endif %}
            </form>
            <table class="table" id="calendar-month">
                <tr>
                    <th></th>
                    {% for weekday in weekdays %}
                        <th>{{ weekday }}</th>
                    {% endfor %}
                </tr>
                {% for week in month %}
                    {% if week %}
                        <tr>
                            <td class="calendarium-week-link"><div href="{{ date|get_week_URL:week.0.0 }}" style="color: transparent;">{% trans "&nbsp;&nbsp;&nbsp;" %}</div></td>
                            {% for day, occurrences, current in week %}
                                <td class="{% if day == 0 %}calendarium-empty{% elif current %}calendarium-current{% else %}calendarium-day{% endif %}">
                                    <div class="calendarium-relative">
                                        {% if day != 0 %}
                                            <span class="calendarium-date">{{ day }}</span>
                                            {% for occurrence in occurrences %}
                                                <p class="alert" style="background-color: #{{ occurrence.event.category.color }}">
                                                    <a title="{{ occurrence }}" href="{% url 'calendar_occurrence_detail' pk=occurrence.event.pk year=occurrence.start.year month=occurrence.start.month day=occurrence.start.day %}">{{ occurrence|truncatechars:22 }}</a>
                                                </p>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
            </div>
        <div class="row">
            <div class="col-lg-4">
                <strong>Nadchodzące wydarzenia:</strong>
                {% render_upcoming_events 5 current_category %}
            </div>
            <div class="col-lg-4 col-lg-offset-4">
                {% include "calendarium/partials/category_list.html" %}
            </div>
        </div> <!--row-->
    </div><!-- container-->
{% endblock %}
