{% extends "base.html" %}
{% load i18n %}
{% load i18n calendarium_tags %}

{% block main %}
    <div class="container">
        <div class="row">
            <h1>{{ object }}</h1>
            <table>
                <tr>
                    <th>{% trans "Początek" %}rr</th>
                    <td>{{ object.start }}</td>
                </tr>
                <tr>
                    <th>{% trans "Koniec" %}</th>
                    <td>{{ object.end }}</td>
                </tr>
                <tr>
                    <th>{% trans "Kategoria" %}</th>
                    <td>{{ object.category }}</td>
                </tr>
                <tr>
                    <th>{% trans "Szczegóły" %}</th>
                    <td>{{ object.description }}</td>
                </tr>
            </table>
            <a href="javascript:history.back();">{% trans "Powrót" %}</a>
            {% if request.user.is_staff %}
                <a href="{% url 'calendar_event_update' pk=object.pk %}">{% trans "Edycja" %}</a>
                <a href="{% url 'calendar_event_delete' pk=object.pk %}">{% trans "Kasuj" %}</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

