{% extends "base.html" %}
{% load i18n %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-2">
            <h1 style="margin-left: auto; margin-right: auto;">{{ object }}</h1><br/>
            <table style="font-size: 200%" class="table-responsive text-justify">
                <tr>
                    <th>{% trans "Start:" %}</th>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ object.start }}</td>
                </tr>
                <tr>
                    <th>{% trans "Koniec:" %}</th>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ object.end }}</td>
                </tr>
                <tr>
                    <th>{% trans "Kategoria:" %}</th>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ object.category }}</td>
                </tr>
                <tr>
                    <th>{% trans "Opis:" %}</th>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ object.description|safe }}</td>
                </tr>
            </table>
            <hr>
            <div class="text-center">
                <a href="javascript:history.back();" class="text-justify">{% trans "Powrót do kalendarza" %}</a>
                {% if request.user.is_staff %}
                    <a href="{% url "calendar_occurrence_update" pk=object.event.pk year=object.start.year month=object.start.month day=object.start.day %}">{% trans "Edytuj" %}</a>
                    <a href="{% url "calendar_occurrence_delete" pk=object.event.pk year=object.start.year month=object.start.month day=object.start.day %}">{% trans "Delete" %}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js-scripts %}
    <!-- Sticky footer-->
    <script>
        $(window).load(function() {
    $("#footer").stickyFooter();
            });
    </script>
{% endblock %}

