{% extends "base.html" %}
{% block title %}Wylogowany{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <h1>Zostałeś wylogowany</h1>
        <p>Zostałes pomyślnie wylogowany.
            Możesz <a href="{% url 'login' %}">zalogować się znowu</a>.
        </p>
        </div>
    </div>

{% endblock %}
{% block js-scripts %}
    <!-- Sticky footer-->
    <script>
        $(window).load(function() {
    $("#footer").stickyFooter();
            });
    </script>
{% endblock %}
