{% extends "base.html" %}
{% block title %} Zaloguj się {% endblock %}
{% block content %}

<div class="container">
    <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Logowanie do panelu użytkownika
                </h1>
                <ol class="breadcrumb">
                    <li class="active">Pamiętaj o odpowiedniej sile hasła !!!</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
      <!-- Logging panel-->
    <div class="row">
      <div class="modal-content col-md-8 col-md-offset-2">
        <div class="modal-header">
          <h4 style="color:red;"><span class="glyphicon glyphicon-lock"></span> Logowanie</h4>
        </div>
        <div class="modal-body">
          <form action="" method="post">
            <div class="form-group">
              <label for="id_username"><span class="glyphicon glyphicon-user"></span> Użytkownik</label>
              <input name="username" type="text" class="form-control" id="id_username" placeholder="Nazwa usera">
            </div>
            <div class="form-group">
              <label for="id_password"><span class="glyphicon glyphicon-eye-open"></span> Hasło</label>
              <input name="password" type="password" class="form-control" id="id_password" placeholder="Podaj hasło">
            </div>
            {% csrf_token %}
            <button type="submit" class="btn btn-default btn-success btn-block"><span class="glyphicon glyphicon-log-in"></span> Zaloguj</button>
             <div class="social">
                <ul>
                    <li class="facebook">
                        <a href="{% url 'social:begin' 'facebook' %}"><span class="glyphicon glyphicon-log-in"></span> Zaloguj przez Facebook</a>
                    </li>
                </ul>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button id="anuluj" type="submit" class="btn btn-default btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Anuluj</button>
          <p>Nie masz konta? <a href="{% url 'register' %}">Załóz je teraz</a></p>
          <p>Zapomniałeś <a href="/">hasła? </a>(jeszcze nie działa)</p>
        </div>
      </div>
    </div>
</div>

<!--
<form action="" method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Zaloguj"></p>
</form>
-->
{% endblock content%}

<!-- runs modal button -->
{% block js-scripts %}
  <script>
  $(document).ready(function(){
      $("#anuluj").click(function(){
          window.location.href = "{% url 'main_page' %}";
      });
  });
  </script>
{% endblock %}