{% extends "base.html" %}
{% load add_css %}
{% block title %}Zmień swoje hasło{% endblock %}
{% block content %}

<div class="container">
    <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Zmiana hasła
                </h1>
                <ol class="breadcrumb">
                    <li class="active">Tutaj możesz zmienić swoje hasło na nowe</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
      <!-- Logging panel-->

    <div class="row">
      <div class="modal-content col-md-8 col-md-offset-2">
        <div class="modal-header">
          <h4 style="color:red;"><span class="glyphicon glyphicon-edit"></span> Zmiana hasła</h4>
        </div>
        <div class="modal-body">
          <form action="." method="post">
            <div class="form-group">
              {{ form.old_password.errors }}
              <label for="id_old_password"><span class="glyphicon glyphicon-eye-open"></span> Stare hasło</label>
              {{ form.old_password|addcss:"form-control" }}
            </div>
            <div class="form-group">
                {{ form.new_password1.errors }}
                <label for="id_new_password1"><span class="glyphicon glyphicon-eye-close"></span> Nowe hasło</label>
                {{ form.new_password1|addcss:"form-control" }}
            </div>
            <div class="form-group">
                {{ form.new_password2.errors }}
                <label for="id_new_password2"><span class="glyphicon glyphicon-eye-close"></span> Powtórz nowe hasło</label>
                {{ form.new_password2|addcss:"form-control" }}
            </div>
            {% csrf_token %}
            <button type="submit" class="btn btn-default btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Zapisz zmiany</button>
          </form>
        </div>
        <div class="modal-footer">
          <button id="anuluj" type="submit" class="btn btn-default btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Anuluj</button>
        </div>
      </div>
    </div>
</div>
{% endblock %}