{% extends 'base.html' %}
{% load blog_tags %}
{% load staticfiles %}
{% load watson %}

{% block content %}
<div class="container">
    <div class="row">
        <h1 class="text-center">Wyniki szukania{% if query %} dla &ldquo;{{query}}&rdquo;:{% endif %}</h1>
        {% if search_results %}
            {% search_results search_results %}
        {% else %}
            {% if query %}
                <p><em>Nie ma rezultatów do wyświetlenia.</em></p>
                <p><em>Spróbuj wprowadzić mniej specyficzną frazę.</em></p>
            {% else %}
                <p><em>Nie wpisałeś frazy do wyszukiwania.</em></p>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}}