{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Klub Sportowy "ISKRA" przy Akademii Marynarki Wojennej</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css"%}" >

    <!-- Custom CSS -->
    <link href="{% static "css/iskra.css"%}" rel="stylesheet">
    <link href="{% static "css/modern-business.css"%}" rel="stylesheet">

    <!-- CSS for django-happenings -->
    <link href=" {% static 'happenings/css/calendar.css' %}" rel="stylesheet">
    <script src="{% static 'happenings/js/calendar.js' %}"></script>

    <!-- Custom Fonts -->
    <link href="{% static "font-awesome/css/font-awesome.min.css"%}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'account.views.main_page' %}">KS Iskra</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'account.views.about' %}">O klubie</a>
                    </li>
                    <li>
                        <a href="contact.html">Aktualności</a>
                    </li>
                    <li>
                        <a href="/kalendarz/">Kalendarz sportowy</a>
                    </li>
                    <li>
                        <a href="contact.html">Galeria</a>
                    </li>
                    <li>
                        <a href="/blog/">Blog</a>
                    </li>
                    <li>
                        <a href="{% url 'account.views.contact' %}">Kontakt</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inne <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="portfolio-1-col.html">Statut klubu</a>
                            </li>
                            <li>
                                <a href="portfolio-2-col.html">Deklaracja członkostwa</a>
                            </li>
                            <li>
                                <a href="portfolio-3-col.html">aaa</a>
                            </li>
                            <li>
                                <a href="portfolio-4-col.html">bbb</a>
                            </li>
                        </ul>
                    </li>
                    {% if request.user.is_authenticated %}
                        <li {% if section=="dashboard" %}class="selected"{% endif %}>
                            <a href="{% url 'dashboard' %}"><i class="fa fa-cog fa-spin"></i> Mój panel</a>
                        </li>
                    {% endif %}
                    <li>
                        {% if request.user.is_authenticated %}
                        <a href="{% url "logout" %}?next=/">Wyloguj się, {{ request.user.first_name }}</a>
                        {% else %}
                        <a href="{% url "login" %}">Zaloguj</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- 'messages' framework -->
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">
                {{ message|safe }}
                <a href="{% url 'dashboard' %}" class="close">✖</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}


    {% block content %}

    {% endblock %}

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p style="text-align: center"> &copy; <a href="http://www.scienceandit.net">Artur</a></p>
            </div>
        </div>
    </footer>

    <!--</div>-->
        <!-- /.container -->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js'%}"></script>

<!-- JS specific for given page -->
{% block js-scripts %}
{% endblock %}

</body>

</html>
