<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}WWw Calendar{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'happenings/css/calendar.css' %}">
    {% block extra_css %}{% endblock extra_css %}
</head>
<body>
{% block content %}{% endblock content %}
<script src="{% static 'happenings/js/calendar.js' %}"></script>
{% block extra_js %}{% endblock extra_js %}
</body>
</html>
