{% extends 'happenings/middle.html' %}
{% load staticfiles i18n %}

{% block content %}
        <h1>{{ event.title }}</h1>
        <p>{{ event.description }}</p>

        {% if event.start_end_diff %}
            <b>{% blocktrans with event_duration_days=event.start_end_diff %}To wydarzenie trwające {{ event_duration_days }} dni.{% endblocktrans %}</b><br>
        {% endif %}

        {% if next_event %}
        <b>{% blocktrans with repeat_lower=repeat|lower %}To wydarzenie powtarza się {{ repeat_lower }}.{% endblocktrans %}</b>
            <p>
                {{ _("Następny termin:") }}
                    {{ next_event|date:"SHORT_DATE_FORMAT" }}
                    {{ event.start_date|time }} -
                    {{ event.end_date|time }}{% if next_or_prev_cncl %} {{ _("(CANCELLED)") }}{% endif %}
        {% elif last_event %}
            <b>{% blocktrans with repeat_lower=repeat|lower %}This was an event that repeated {{ repeat_lower }}.{% endblocktrans %}</b>
            <p>{% blocktrans with last_event_date=last_event|date:"SHORT_DATE_FORMAT" %}The last event was on {{ last_event_date }}{% endblocktrans %}{% if next_or_prev_cncl %} {{ _("(CANCELLED)") }}{% endif %}
        {% else %}
            <p>{{ _("When:") }}
            {% if event_days %}
                <ul>
                {% for e in event_days %}
                    <li>
                        {% blocktrans with num_day=forloop.counter %}Day {{ num_day }}{% endblocktrans %}: {{ e|date:"SHORT_DATE_FORMAT" }} - {{ event.end_date|time }}
                        {% for c in event.cancellations.all %}
                            {% if c.date == e.date %}
                                {{ _("(CANCELLED)") }}
                            {% endif %}
                    </li>
                    {% endfor %}
                {% endfor %}
                </ul>
            {% else %}
                    {{ event.start_date|date:"SHORT_DATE_FORMAT" }} - {{ event.end_date|time }}
                    {% if this_cncl %} {{ _("(CANCELLED)") }}{% endif %}
            {% endif %}
        {% endif %}

        ({{ _("today is:") }} {% now "SHORT_DATE_FORMAT" %})
        </p>
        {% if cncl_days %}
            <p>{{ _("This event has been cancelled on the following day(s):") }}</p>
            <ul>
            {% for d, reason in cncl_days %}
                <li>{{ d|date:"SHORT_DATE_FORMAT" }} - {% blocktrans %}Powód: {{ reason }}{% endblocktrans %}</li>
            {% endfor %}
            </ul>
        {% endif %}

        {% if event.location.all %}
        <p>{% blocktrans count counter=event.location.all.count %}Location:{% plural %}Locations:{% endblocktrans %}<br>
        {% for l in event.location.all %}
            {{ l.name }}<br>
            {% if l.address_line_1 %}{{ l.address_line_1 }}<br>{% endif %}
            {% if l.address_line_2 %}{{ l.address_line_2 }}<br>{% endif %}
            {% if l.address_line_3 %}{{ l.address_line_3 }}<br>{% endif %}
            {% if l.city %}{{ l.city }},{% endif %}
            {% if l.state %}{{ l.state }}{% endif %}
            {% if l.zipcode %}{{ l.zipcode }}<br>{% endif %}
            {% if l.country %}{{ l.country }}<br>{% endif %}
        {% endfor %}
        </p>
        {% endif %}


        {% if event.categories.all %}
            {% blocktrans count counter=event.categories.all.count %}Kategoria:{% plural %}Kategorie:{% endblocktrans %}
            <ul>
                {% for category in event.categories.all %}
                <li>{{ category.title }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if event.tags.all %}
            {% blocktrans count counter=event.tags.all.count %}Tag:{% plural %}Tags:{% endblocktrans %}
            <ul>
                {% for tag in event.tags.all %}
                <li>{{ tag.name }}</li>
                {% endfor %}
            </ul>
        {% endif %}

{% endblock content %}
