{% extends 'base.html' %}
{% load staticfiles %}
{% load add_css %}

{% block content %}
    <div class="container">
    <!-- Page Heading/Breadcrumbs -->
      <div class="row">
          <div class="modal-content col-lg-10-8 col-md-offset-1">
            <div class="modal-header">
              <h4 style="color:red;"><span class="glyphicon glyphicon-edit"></span> Nowy wpis</h4>
            </div>
            <div class="modal-body">
              <form action="." method="post">
                <div class="form-group">
                  {{ form.title.errors }}
                  <label for="id_title"><span class="glyphicon glyphicon-bookmark"></span> Tytuł:</label>
                  {{ form.title|addcss:"form-control" }}
                </div>
                <div class="form-group">
                    {{ form.category.errors }}
                    <label for="id_category"><span class="glyphicon glyphicon-book"></span> Wybierz kategorię wpisu</label>
                    {{ form.category|addcss:"form-control" }}
                </div>
                <div class="form-group">
                    {{ form.text.errors }}
                    <label for="id_text"><span class="glyphicon glyphicon-book"></span> Treść:</label>
                    {{ form.text|addcss:"form-control" }}
                </div>

                {% csrf_token %}
                <button type="submit" class="btn btn-default btn-success btn-block"><span class="glyphicon glyphicon-save"></span> Zapisz zmiany</button>
              </form>
            </div>
            <div class="modal-footer">
              <button id="anuluj" type="submit" class="btn btn-default btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Anuluj</button>
            </div>
          </div>
        </div>
    </div>

{% endblock %}
{% block js-scripts %}
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <script type='text/javascript' src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script>
      $(document).ready(function(){
          $("#anuluj").click(function(){
              window.location.href = "{% url 'main_page' %}";
          });
      });
    </script>

{% endblock %}