{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <div class="row text-justify">
            {% if post.published_date %}
                <p class="lead">
                    Dodany przez <strong style="color: #0000C0">{{ post.author }}</strong>, <i class="fa fa-clock-o"></i> {{ post.published_date }}
                </p>
            {% endif %}
            {% if request.user == post.author %}
            <a class="btn btn-default" href="{% url 'blog:post_edit' pk=post.pk %}">Edytuj post <span class="glyphicon glyphicon-pencil"></span></a>
            {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|safe|linebreaks }}</p>
    </div>
</div>
{% endblock %}
{% block js-scripts %}
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>

    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script>
        $("a").attr('rel', 'pictures_group');
        $("a.obrazek").fancybox({
		'transitionIn'		: 'none',
		'transitionOut'		: 'none',
		'titlePosition' 	: 'over',
		'titleFormat'       : function(title, currentArray, currentIndex, currentOpts) {
		    return '<span id="fancybox-title-over">Zdjęcie ' +  (currentIndex + 1) + ' / ' + currentArray.length + ' ' + title + '</span>';
		}
	});
    </script>
{% endblock %}
