{% extends 'base.html' %}
{% load blog_tags %}
{% load staticfiles %}
{% load watson %}
{% block content %}
<!--<div class="container">
<div class="row text-center">
    Dodaj post <a href="{% url 'blog:post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
</div>
    {% for post in posts %}
        <div class="row text-justify">
            <h3><a href="{% url 'blog:post_edit' pk=post.pk %}">{{ post.title|upper }}</a></h3>
            <p>Data publikacji: {{ post.published_date }}, autor: {{ post.author }}</p>
            {{ post.text|safe}}
        </div>
    {% endfor %}
</div>-->

<!-- Page Content -->
<div class="container" xmlns="http://www.w3.org/1999/html">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Blog
                    <small>KS Iskra</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-8">
                <!--  Blog Posts -->
                {% if tag %}
                    <h1 class="text-center">Posty z kategorii "{{ tag.name }}":</h1>
                {% endif %}
                {% for post in posts %}
                <h2>
                    {{ post.title }}
                    {% if request.user == post.author %}
                        <a class="btn btn-default" href="{% url 'blog:post_edit' pk=post.pk %}">Edytuj post <span class="glyphicon glyphicon-pencil"></span></a>
                    {% endif %}
                </h2>
                <p class="lead">
                    Dodany przez <strong style="color: #0000C0">{{ post.author.first_name }}&nbsp;{{ post.author.last_name }}</strong>, <i class="fa fa-clock-o"></i> {{ post.published_date }},
                    <span class="tags">kat.:
                        {% for tag in post.tags.all %}
                            <a href="{% url 'blog:post_list_by_tag' tag.slug %}">
                                {{ tag.name }}
                            </a>
                            {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </span>
                </p>
                <hr>
                <div class="text-justify">
                    {{ post.text|safe|truncatewords:70}}
                    <a class="btn btn-primary" href="{{ post.get_absolute_url }}">Więcej</i></a>
                </div>
                <!--<a class="btn btn-primary" href="#">Więcej <i class="fa fa-angle-right"></i></a>-->
                <hr>
                {% endfor %}

                <!--Pagination-->
                <ul class="pager">
                    {% with page=posts %}
                        {% if page.has_previous %}
                        <li class="previous">
                            <a href="?page={{ page.previous_page_number }}">&larr; Poprzednia</a>
                        </li>
                        {% endif %}
                        <span class="current">
                            Strona {{ page.number }} z {{ page.paginator.num_pages }}
                        </span>
                        {% if page.has_next %}
                        <li class="next">
                            <a href="?page={{ page.next_page_number }}">&rarr; Następna</a>
                        </li>
                        {% endif %}
                    {% endwith %}
                </ul>

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Szukaj w blogu:</h4>
                    <div class="input-group">
                        <form action="{% url 'watson:search' %}">
                            <input name="q" value="{{request.GET.q}}">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Kategorie</h4>
                    <div class="row">
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            {% for tag in all_tags %}
                                <a href="{% url 'blog:post_list_by_tag' tag.slug %}">
                                    {{ tag.name }}<br/>
                                </a>
                            {% endfor %}
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Liczba wpisów na blogu - {% total_posts %}</h4>
                    <h4>Ostatnie posty:</h4>
                    {% show_latest_posts 5 %}
                </div>

            </div>

        </div>
        <!-- /.row -->

        <hr>
    </div>

    <!-- /.container -->
{% endblock content %}
{% block js-scripts %}
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script>
        $("a").attr('rel', 'pictures_group');
        $("a.obrazek").fancybox({
		'transitionIn'		: 'none',
		'transitionOut'		: 'none',
		'titlePosition' 	: 'over',
		'titleFormat'       : function(title, currentArray, currentIndex, currentOpts) {
		    return '<span id="fancybox-title-over">Zdjęcie ' +  (currentIndex + 1) + ' / ' + currentArray.length + ' ' + title + '</span>';
		}
	});
    </script>
{% endblock %}

