{% extends "base.html" %}
{% block title %}Zaznaczanie obrazu{% endblock %}
{% block content %}
    <h1>Dodawanie zdjęcia</h1>
    <img src="{{ request.GET.url }}" class="image-preview">
    <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Dodaj ciekawostkę">
    </form>
{% endblock %}
{% block js-scripts %}
    <!-- Sticky footer-->
    <script>
        $(window).load(function() {
    $("#footer").stickyFooter();
            });
    </script>
{% endblock %}
