{% extends "base.html" %}

{% block title %}{{ image.title }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1>{{ image.title }}</h1>
            {% load thumbnail %}

            <a href="{{ image.image.url }}">
                <img src="{% thumbnail image.image 400x400 crop %}" class="image-detail">
            </a>
            {% with total_likes=image.users_like.count users_like=image.users_like.all %}
                <div class="image-info">
                        <div>
                            <span class="count">
                                <span class="total">{{ total_likes }}</span>
                                polubień
                            </span>
                            <a href="#" data-id="{{ image.id }}" data-action="{% if request.user in users_like %}un{% endif %}like" class="like button">
                                {% if request.user not in users_like %}
                                    Polub
                                {% else %}
                                    Przestań lubić
                                {% endif %}
                            </a>
                        </div>
                        <p>Dodany przez: <span style="color:blue;">{{ image.user }}</span></p>
                        <p>Adres WWW: {{image.url }}</p>
                        <p> Komentarz: {{ image.description }} </p>
                </div>
        </div>
        <div class="row">
            <h3>Polubienia:</h3>
                <div class="image-likes col-lg-8">
                    {% for user in image.users_like.all %}
                        <div>
                            <img src="{{ user.profile.photo.url }}">
                            <p>{{ user.first_name }}</p>
                        </div>
                    {% empty %}
                        Nikt tego jeszcze nie polubił.
                    {% endfor %}
                </div>
            {% endwith %}
        </div>
    </div>

{% endblock %}

{% block domready %}
    $('a.like').click(function(e){
        e.preventDefault();
        $.post('{% url "sharings:like" %}',
            {
                id: $(this).data('id'),
                action: $(this).data('action')
            },
            function(data){
                if (data['status'] == 'ok')
                {
                    var previous_action = $('a.like').data('action');

                    // toggle data-action
                    $('a.like').data('action', previous_action == 'like' ? 'unlike' : 'like');
                    // toggle link text
                    $('a.like').text(previous_action == 'like' ? 'Przestań lubić' : 'Polub');

                    // update total likes
                    var previous_likes = parseInt($('span.count .total').text());
                    $('span.count .total').text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
                }
        });

    });
{% endblock %}
{% block js-scripts %}
    <!-- Sticky footer-->
    <script>
        $(window).load(function() {
    $("#footer").stickyFooter();
            });
    </script>
{% endblock %}
