{% load i18n %}
<ul>
    <li>{% if not current_category %}<strong>{% endif %}<a href="{% url "calendar_current_month" %}">{% trans "Wszystkie wydarzenia" %}</a>{% if not current_category %}</strong>{% endif %}</li>
    {% for category in categories %}
        <li>{% if category == current_category %}<strong>{% endif %}<a href=".?category={{ category.pk }}">{{ category.name }}</a>{% if category == current_category %}</strong>{% endif %}</li>
    {% endfor %}
</ul>