{% load staticfiles %}

<!-- Modal -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width: 60%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-center" id="myModalLabel">Akademickie Centrum Sportowe</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6"><img class="img-responsive" src="{% static 'images/ACS.jpg' %}" alt="750x450"></div>
          <div class="col-md-6">
            <br/>
            <h4>Oferta ACS:</h4>
                <ul>
                    <li><h4><strong>czynne od 6.30 do 21.30 w każdy dzień powszedni oraz od 9.00 do 14.00 w weekendy,</strong></h4></li>
                    <li><h4>4100 m<sup>2</sup> powierzchni</h4></li>
                    <li><h4>arena główna – boisko sportowe o wymiarach 22x44 m ze składaną trybuną na 200 osób,</h4></li>
                    <li><h4>sala wielofunkcyjna o wymiarach 18x31 m,</h4></li>
                    <li><h4>profesjonalna siłownia,</h4></li>
                    <li><h4>sala do walki w bliskim kontakcie,</h4></li>
                    <li><h4>ścianka wspinaczkowa,</h4></li>
                    <li><h4>zespół saun,</h4></li>
                    <li><h4>... resztę sprawdź sam ...</h4></li>
                </ul>
                <h4 class="text-justify">&nbsp;&nbsp;&nbsp;&nbsp;Akademickie Centrum Sportowe zostało otwarte 7 stycznia 2016 roku. Pozwala na uprawianie 15 dyscyplin sportowych przez 100 osób jednocześnie.
                    Na jego terenie prowadzone są zajęcia w sekcjach sportowych, organizowany jest szereg zawodów uczelnianych, wojskowych, a także o zasięgu ogólnopolskim.</h4>
                <h4>KS Iskra korzysta z zasobów udostępnianych przez ACS.</h4>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Zamknij</button>
      </div>
    </div>
  </div>
</div>




<!-- runs modal button -->
{% block js-scripts %}
{% endblock %}