{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Sekcje sportowe{% endblock %}
{% block content %}
 <!-- Page Content -->
    <div class="container">

     <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Badminton
                </h1>

            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="img-responsive" src="{% static 'images/badminton2.png' %}" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="{% static 'images/badminton3.png' %}" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="{% static 'images/badminton4.png' %}" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="{% static 'images/badminton5.png' %}" alt="">
                        </div>

                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <h3>Trochę o nas</h3>
                <p style="text-align: justify;">
                    &nbsp;&nbsp;&nbsp;&nbsp;Sekcja badmintona to najmłodsza sekcja w klubie. Współczesny badminton narodził się w Anglii.
                    Był rozrywką dziewiętnastowiecznej szlachty rozgrywającej mecze nie na boiskach, ale... w salonach.
                    Stąd też obecne wymiary boiska do badmintona, są niemal identyczne z rozmiarem pokoju, w którym po raz pierwszy zaprezentowano tę grę.
                    Badminton łączy ze sobą rywalizację sportową i doskonałą zabawę.</p>
                <p style="text-align: justify;">Grać może każdy, właściwie wszędzie. Plac do gry wytyczyć możemy na osiedlowym boisku, na hali sportowej, nawet na plaży.
                    Gra rekreacyjna nie jest droga, a może dostarczyć niemałych emocji, jeśli weźmiemy pod uwagę, że rozpędzona uderzeniem lotka może osiągnąć prędkość ponad 300 km/h.
                    Treningi są prowadzone głównie przez Łukasza Komara – wieloletniego zawodnika i trenera kadry województwa pomorskiego, dzięki współpracy z Badminton School.
                </p>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Inne sekcje</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="{% url 'account.views.futsal' %}">
                    <img class="img-responsive img-hover img-related" src="{% static 'images/futsal500x300.png' %}" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="{% url 'account.views.lekkoatletyka' %}">
                    <img class="img-responsive img-hover img-related" src="{% static 'images/lekkoatletyka500x300.png' %}" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="{% url 'account.views.plywanie' %}">
                    <img class="img-responsive img-hover img-related" src="{% static 'images/plywanie500x300.png' %}" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="{% url 'account.views.zeglarstwo' %}">
                    <img class="img-responsive img-hover img-related" src="{% static 'images/zeglarstwo500x300.png' %}" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->

        <hr>


    </div>
    <!-- /.container -->
{% endblock %}