{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <!-- Page Content -->
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dane teleadresowe
                </h1>
                <ol class="breadcrumb">
                    <li class="active">Tutaj jesteśmy</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Map Column -->
            <div class="col-md-8">
                <!-- Embedded Google Map -->
                <!--Original version-->
                <!--<iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=pl&amp;ie=UTF8&amp;ll=54.5438708,18.5428351&amp;spn=55.0022,20.0022&amp;t=m&amp;z=4&amp;output=embed"></iframe>-->
                <div id="gmap-basic-marker" style="height: 500px; width: 100%;"></div>
            </div>
            <!-- Contact Details Column -->
            <div class="col-md-4">
                <h3>Adres:</h3>
                <p>
                    ul. Śmidowicza 69<br>81-103 Gdynia<br>
                </p>
                <p><i class="fa fa-phone"></i>
                    <abbr title="Recepcja">Tel.</abbr>: + 48 261 262 526</p>
                <p><i class="fa fa-phone"></i>
                    <abbr title="Telefon1">Tel.</abbr>: + 48 261 262 904</p>
                <p><i class="fa fa-phone"></i>
                    <abbr title="Telefon2">Tel.</abbr>: + 48 261 262 546</p>
                <p><i class="fa fa-fax"></i>
                    <abbr title="Fax">Fax</abbr>: + 48 261 262 926</p>
                <p><i class="fa fa-envelope-o"></i>
                    <abbr title="Email">Email</abbr>: <a href="mailto:i.kaminski@amw.gdynia.pl">i.kaminski@amw.gdynia.pl</a>
                </p>
                <p><i class="fa fa-clock-o"></i>
                    <abbr title="Godziny otwarcia">Otwarte</abbr>: Poniedziałek - piątek: 6:00 - 22:00</p>
                <ul class="list-unstyled list-inline list-social-icons">
                    <li>
                        <a href="https://www.facebook.com/OWFiS" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                </ul>
                <hr/>
                <h4>NIP: 958-117-50-58</h4>
                <hr/>
                <h4>Konto bankowe:</h4>
                <p>Bank PKO S.A.</p>
                <h4>93 1240 5354 1111 0010 4486 0377</h4>

            </div>
        </div>
        <!-- /.row -->

        <!-- Contact Form -->
        <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
        <div class="row">
            <div class="col-md-8">
                <h3>Napisz wiadomość</h3><br/>
                <form name="sentMessage" id="contactForm" action="/kontakt/wyslij-wiadomosc/" class="form-horizontal" method="post" enctype="multipart/form-data" onsubmit=alertify_after_submit()>
                    {% csrf_token %}
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Imię i nazwisko:</label>
                            <input type="text" class="form-control" name="fullname" id="name" required placeholder="np. Jan Kowalski">
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <!--<div class="control-group form-group">
                        <div class="controls">
                            <label>Numer telefonu:</label>
                            <input type="tel" class="form-control" id="phone" placeholder="np. 123 456 789">
                        </div>
                    </div>-->
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Adres email:</label>
                            <input type="email" class="form-control" name="from_email" id="email" required placeholder="np. jan.kowalski@domena.com">
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Wiadomość:</label>
                            <textarea rows="10" cols="100" class="form-control" name="message" id="message" required placeholder="Zapytaj o co chcesz ..." maxlength="999" style="resize:none"></textarea>
                        </div>
                    </div>
                    <div id="success"></div>
                    <!-- For success/fail messages -->
                    <button type="submit" class="btn btn-primary">Wyślij wiadomość</button>
                    <button type="reset" class="btn btn-warning">Resetuj</button>
                </form>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

{% endblock content%}

{% block js-scripts %}
    <!-- Scripts for Google Maps-->
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="{% static 'js/gmaps.js' %}"></script>
    <script src="{% static 'js/my-map.js' %}"></script>

    <!-- Alertify -->
     <!-- JavaScript -->
    <script src="http://cdn.jsdelivr.net/alertifyjs/1.6.0/alertify.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/alertifyjs/1.6.0/css/alertify.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/alertifyjs/1.6.0/css/themes/default.min.css"/>
    <!-- Semantic UI theme -->
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/alertifyjs/1.6.0/css/themes/semantic.min.css"/>
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/alertifyjs/1.6.0/css/themes/bootstrap.min.css"/>

    <script>
        function alertify_after_submit() {
            alertify.set('notifier','position', 'bottom-right');
            alertify.success('Wiadomość wysłana !!! ');
        }


  </script>
{% endblock %}

