{% extends "base.html" %}
{% block title %}Panel użytkownika{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="text-center">Panel użytkownika</h1>
            <hr>
    <h4>Witaj w swoim panelu, {{ request.user.first_name }}. </h4>
    <img src="{{ request.user.profile.photo.url }}" alt="Twoja focia"/>
    <h4>Tutaj możesz:</h4>
    <ul>
        <li>
            <a href="{% url 'edit' %}">edytować swój profil </a>
        </li>
        <li>
            <a href="{% url 'password_change' %}">zmienić swoje hasło</a>
        </li>
        <li>
            ... więcej wkrótce !!!
        </li>
    </ul>
    {% with total_images_created=request.user.images_created.count %}
        <p>Do tej pory udało Ci się dodać {{ total_images_created }} ciekawostek {{ total_images_created|pluralize }}.</p>
    {% endwith %}
    <p>Przeciągnij guzik obok do swojego paska zakładek, aby dodawać obrazki z innych stron →
        <a href="javascript:{% include 'bookmarklet_launcher.js' %}" class="btn btn-success">Dodaj to!</a><p>
        </div>
    </div>

{% endblock %}
{% block js-scripts %}
    <!-- Sticky footer-->
    <script>
        $(window).load(function() {
    $("#footer").stickyFooter();
            });
    </script>
{% endblock %}
