{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Sekcje sportowe{% endblock %}
{% block content %}
 <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Lekkoatletyka
                </h1>

            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="img-responsive" src="{% static 'images/biegi0.png' %}" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="{% static 'images/biegi1.png' %}" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="{% static 'images/biegi2.png' %}" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="{% static 'images/biegi3.png' %}" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="{% static 'images/biegi4.png' %}" alt="">
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <h3>Trochę o nas</h3>
                <p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;Bieganie, to główna konkurencja jaką uprawiają nasi klubowicze w sekcji lekkoatletyki.
                    Najliczniejsza oraz najaktywniejsza grupa sportowców, którym sprawia przyjemność przełamywanie własnych słabości.
                    Reprezentują nasz klub i AMW na coraz liczniejszych biegach. Najpopularniejsze wśród klubowiczów są uliczne biegi na 10 kilometrów.
                    Ale nie tylko. Mamy również półmaratończyków i maratończyków. Aby biegać ... wystarczy chcieć!</p>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Inne sekcje</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="{% url 'account.views.futsal' %}">
                    <img class="img-responsive img-hover img-related" src="{% static 'images/futsal500x300.png' %}" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="{% url 'account.views.lekkoatletyka' %}">
                    <img class="img-responsive img-hover img-related" src="{% static 'images/lekkoatletyka500x300.png' %}" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="{% url 'account.views.plywanie' %}">
                    <img class="img-responsive img-hover img-related" src="{% static 'images/plywanie500x300.png' %}" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="{% url 'account.views.zeglarstwo' %}">
                    <img class="img-responsive img-hover img-related" src="{% static 'images/zeglarstwo500x300.png' %}" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->

        <hr>


    </div>
    <!-- /.container -->
{% endblock %}