{% extends "base.html" %}
{% load staticfiles%}
{% block content %}
    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('static/images/main1.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Organizujemy profesjonalne zawody ...</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('static/images/main2.jpg');"></div>
                <div class="carousel-caption">
                    <h2 style="color: yellow">Szkolimy ...</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('static/images/main3.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Często wygrywamy ...</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header text-center">
                    Klub Sportowy "ISKRA" przy Akademii Marynarki Wojennej
                </h1>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-bar-chart"></i> 8 sekcji sportowych</h4>
                    </div>
                    <div class="panel-body">
                        <p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;Klub Sportowy „Iskra” jest wielosekcyjnym klubem, którego sportowcy mogą rozwijać swoje umiejętności sportowe w takich dyscyplinach jak: badminton, koszykówka, pływanie, piłka halowa, lekkoatletyka, płetwonurkowanie, tenis ziemny i stołowy oraz żeglarstwo.
                           Znakomita większość z nich istnieje w klubie od samego jego początku. Staramy się iść z duchem czasu i zainteresowaniem naszych studentów, kadry, pracowników.
                            Dostosowujemy się też do możliwości lokalowych i sprzętowych. Najmłodszą sekcją jest sekcja badmintona. To dzięki nowych halom sportowym i zakupie sprzętu możemy rozwijać tę ciekawą dyscyplinę, która zdobywa coraz większą popularność..</p>
                        <p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;   Najaktywniejszą sekcją jest lekkoatletyka, a szczególnie grupa sportowców specjalizująca się w biegach długich.
                            Mamy tu sporo sukcesów zarówno wśród kadry uczelni jak i studentów. Największe sukcesy odnosiła dotychczas sekcja żeglarska, która na koncie ma m.in. medale Wojskowych Igrzysk Sportowych, Wojskowych Mistrzostw Świata i Europy i wielu innych.
                            Mamy nadzieję, że każdy znajdzie coś dla siebie.</p>
                        <a href="{% url 'account.views.sekcje' %}" class="btn btn-success">Sprawdź</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-futbol-o"></i> Aktywny udział w zawodach</h4>
                    </div>
                    <div class="panel-body">
                        <p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;Zawody sportowe to nie tylko sprawdzenie się, walka z konkurencją, poprawianie swoich wyników. To także spotkania z innymi zawodnikami, trenerami, wymiana doświadczeń oraz integracja środowiska.
                           Nasze starty realizujemy na arenie krajowej i międzynarodowej, zarówno na zawodach cywilnych jak i resortowych.
                            Możemy poszczycić się udziałem w Wojskowych Igrzyskach Sportowych (żeglarstwo) gdzie zdobywaliśmy medale, Mistrzostwach Europy (żeglarstwo),  Mistrzostwa Polski  i wielu innych zawodach regionalnych , turniejach i zawodach sportu powszechnego.
                            Najliczniej startujemy w biegach ulicznych, półmaratonach i maratonach. </p>
                        <p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;Należy zaznaczyć, że nasi zawodnicy-studenci licznie startują w ligach międzyuczelnianych (m.in. koszykówka, pływanie), rywalizacji uczelni mundurowych (Puchar Rektorów – Mistrzostwa Polski Uczelni Mundurowych).
                            Członkowie klubu startują również w imprezach sportowych i rekreacyjnych, takich jak maratony MTB, biegi przełajowe (Bieg o Nóż Komandosa, Harpagan itp.). Jesteśmy widoczni na tych zawodach.</p>
                        <a href="{% url 'blog_namespace:post_list' %}" class="btn btn-success">Zobacz</a>
                    </div>
                </div>
            </div>
            <!--<div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-trophy"></i> Sukcesy w wielu dyscyplinach</h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                        <a href="{% url 'calendar_current_month' %}" class="btn btn-default">Dowiedz się więcej</a>
                    </div>
                </div>
            </div>-->
        </div>
        <!-- /.row -->

        <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Tym się zajmujemy ...</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="{% url 'account.views.sekcje' %}">
                    <img class="img-responsive img-portfolio img-hover" src="{% static 'images/port1.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="{% url 'account.views.sekcje' %}">
                    <img class="img-responsive img-portfolio img-hover" src="{% static 'images/port2.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="{% url 'account.views.sekcje' %}">
                    <img class="img-responsive img-portfolio img-hover" src="{% static 'images/port3.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="{% url 'account.views.sekcje' %}">
                    <img class="img-responsive img-portfolio img-hover" src="{% static 'images/port4.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="{% url 'account.views.sekcje' %}">
                    <img class="img-responsive img-portfolio img-hover" src="{% static 'images/port5.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="{% url 'account.views.sekcje' %}">
                    <img class="img-responsive img-portfolio img-hover" src="{% static 'images/port6.jpg' %}" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->
        <hr>
    </div>
    <!-- /.container -->

{% endblock content%}

{% block js-scripts %}
    <!-- Script to Activate the Carousel -->
    <script>
        $('.carousel').carousel({
            interval: 5000 //changes the speed
        })
    </script>

{% endblock %}

