{% load staticfiles %}

<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width: 60%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-center" id="myModalLabel">O klubie</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6"><img class="img-responsive" src="{% static 'images/logo-ISKRA-nowe-smaller.jpg' %}" alt="750x450"></div>
          <div class="col-md-6">
            <br/>
            <h4>Klub powstał w 1997 roku na bazie Koła Sportowego AMW.</h4><br/>
            <h4>Najważniejsze kierunki działania:</h4>
            <ul style="font-size: larger">
                <li><h4>prowadzenie działalności wychowawczej, popularyzacja kultury fizycznej i sportu;</h4></li>
                <li><h4>utrzymywanie kontaktów oraz współpraca z innymi związkami i stowarzyszeniami sportowymi;</h4></li>
                <li><h4>prowadzenie działalności w zakresie sportu i rekreacji;</h4></li>
                <li><h4>przygotowanie drużyn KS „ISKRA” do udziału w zawodach sportowych, w tym udziału w zawodach organizowanych w wojsku, oraz w środowisku cywilnym;</h4></li>
                <li><h4>propagowanie kultury fizycznej wśród żołnierzy służby czynnej, pracowników wojska oraz ich rodzin jak również mieszkańców z terenu działalności KS „ISKRA”, szczególnie Trójmiasta.</h4></li>
            </ul><br/>
            <h4>Najwyższą władzą w K.S. „Iskra” jest Walne Zebranie Delegatów.</h4>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Zamknij</button>
      </div>
    </div>
  </div>
</div>




<!-- runs modal button -->
{% block js-scripts %}
{% endblock %}