{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
    <h1>Witaj, {{ new_user.first_name }}!</h1>
    <p>Twoje konto zostało pomyślnie utworzone. Teraz możesz się <a
    href="{% url "login" %}">zalogować</a>.</p>
{% endblock %}