{% extends "base.html" %}
{% load add_css %}
{% block title %}Tworzenie konta{% endblock %}
{% block content %}
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Tworzenie konta użytkownika
                </h1>
                <ol class="breadcrumb">
                    <li class="active">Podaj dane niezbędne do rejestracji</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
      <!-- Profile edition panel-->
    <div class="row">
      <div class="modal-content col-md-8 col-md-offset-2">
        <div class="modal-header">
          <h4 style="color:red;"><span class="glyphicon glyphicon-edit"></span> Rejestracja</h4>
        </div>
        <div class="modal-body">
          <form action="." method="post" enctype="multipart/form-data">
            <div class="form-group">
              {{ user_form.first_name.errors }}
              <label for="id_username"><span class="glyphicon glyphicon-user"></span> Nazwa użytkownika</label>
              <!--<input name="first_name" type="text" value="" class="form-control" maxlength="30" id="id_first_name">-->
              {{ user_form.username|addcss:"form-control" }}

            </div>
            <div class="form-group">
                {{ user_form.last_name.errors }}
                <label for="id_first_name"><span class="glyphicon glyphicon-user"></span> Imię</label>
              <!--<input name="last_name" type="text" value="" class="form-control" maxlength="30" id="id_last_name" >-->
              {{ user_form.first_name|addcss:"form-control" }}
            </div>
            <div class="form-group">
                {{ user_form.email.errors }}
                <label for="id_email"><span class="glyphicon glyphicon-envelope"></span> E-mail</label>
              <!--<input name="email" type="email" class="form-control" id="id_email" maxlength="254">-->
                {{ user_form.email|addcss:"form-control" }}
            </div>
            <div class="form-group">
              {{ user_form.password.errors }}
              <label for="id_password"><span class="glyphicon glyphicon-eye-open"></span> Hasło</label>
              <!--<input name="date_of_birth" type="text" class="form-control" id="id_date_of_birth">-->
              {{ user_form.password|addcss:"form-control" }}
            </div>
            <div class="form-group">
              {{ user_form.password2.errors }}
              <label for="id_password2"><span class="glyphicon glyphicon-eye-open"></span> Powtórz hasło</label>
              {{ user_form.password2|addcss:"form-control" }}
            </div>

            {% csrf_token %}
            <button type="submit" class="btn btn-default btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Zapisz zmiany</button>
          </form>
        </div>
        <div class="modal-footer">
          <button id="anuluj" type="submit" class="btn btn-default btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Anuluj</button>
        </div>
      </div>
    </div>
</div>
{% endblock %}
{% block js-scripts %}
    <script>
      $(document).ready(function(){
          $("#anuluj").click(function(){
              window.location.href = "{% url 'main_page' %}";
          });
      });
    </script>
{% endblock %}}