{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Sekcje sportowe{% endblock %}
{% block content %}
 <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Sekcje sportowe
                    <small>przy KS "Iskra"</small>
                </h1>

            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                <a href="{% url 'account.views.zeglarstwo' %}">
                    <img class="img-responsive img-hover" src="{% static 'images/zeglarstwo1.jpg' %}" alt="Żeglarstwo">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Żeglarstwo</h3>
                <p style="text-align: justify;">Żeglarstwo jest dyscypliną sportu, która w klubie zaczęła się mocno rozwijać w 2000 roku.
                    Pierwsze kroki na trasach regatowych stawialiśmy na jachcie klasy Gemini 2000 o nazwie ASTROLABIUM ...
                </p>
                <a class="btn btn-primary" href="{% url 'account.views.zeglarstwo' %}">Więcej</i></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-7">
                <a href="{% url 'account.views.lekkoatletyka' %}">
                    <img class="img-responsive img-hover" src="{% static 'images/lekkoatletyka.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Lekkoatletyka</h3>
                <p>Bieganie, to główna konkurencja jaką uprawiają nasi klubowicze w sekcji lekkoatletyki.
                    Najliczniejsza oraz najaktywniejsza grupa sportowców, którym sprawia przyjemność przełamywanie własnych słabości ...
                </p>
                <a class="btn btn-primary" href="{% url 'account.views.lekkoatletyka' %}">Więcej</i></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Three -->
        <div class="row">
            <div class="col-md-7">
                <a href="{% url 'account.views.futsal' %}">
                    <img class="img-responsive img-hover" src="{% static 'images/futsal1.png' %}" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Piłka halowa</h3>
                <p>Halowa piłka nożna (futsal) to bardzo popularna dyscyplina sportu, którą uprawiają zarówno studenci jak i kadra uczelni.</p>
                <a class="btn btn-primary" href="{% url 'account.views.futsal' %}">Więcej</i></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>
    <!-- Project Eight -->
        <div class="row">
            <div class="col-md-7">
                <a href="{% url 'account.views.badminton' %}">
                    <img class="img-responsive img-hover" src="{% static 'images/badminton1.png' %}" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Badminton</h3>
                <p>Sekcja badmintona to najmłodsza sekcja w klubie. Współczesny badminton narodził się w Anglii. Był rozrywką dziewiętnastowiecznej szlachty rozgrywającej mecze nie na boiskach, ale... w salonach.</p>
                <a class="btn btn-primary" href="{% url 'account.views.badminton' %}">Więcej</i></a>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Project Four -->
        <div class="row">

            <div class="col-md-7">
                <a href="{% url 'account.views.plywanie' %}">
                    <img class="img-responsive img-hover" src="{% static 'images/plywanie1.png' %}" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Pływanie</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, quidem, consectetur, officia rem officiis illum aliquam perspiciatis aspernatur quod modi hic nemo qui soluta aut eius fugit quam in suscipit?</p>
                <a class="btn btn-primary" href="{% url 'account.views.plywanie' %}">Więcej</i></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Five -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x300" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Koszykówka</h3>
                <h4>Subheading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, quo, minima, inventore voluptatum saepe quos nostrum provident ex quisquam hic odio repellendus atque porro distinctio quae id laboriosam facilis dolorum.</p>
                <a class="btn btn-primary" href="#">View Project</i></a>
            </div>
        </div>
        <!-- /.row -->
        <hr>

        <!-- Project Six -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x300" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Tenis ziemny i stołowy</h3>
                <h4>Subheading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, quo, minima, inventore voluptatum saepe quos nostrum provident ex quisquam hic odio repellendus atque porro distinctio quae id laboriosam facilis dolorum.</p>
                <a class="btn btn-primary" href="#">View Project</i></a>
            </div>
        </div>
        <!-- /.row -->
        <hr>

        <!-- Project Seven -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x300" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Płetwonurkowanie</h3>
                <h4>Subheading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, quo, minima, inventore voluptatum saepe quos nostrum provident ex quisquam hic odio repellendus atque porro distinctio quae id laboriosam facilis dolorum.</p>
                <a class="btn btn-primary" href="#">View Project</i></a>
            </div>
        </div>
        <!-- /.row -->
        <hr>

    </div>
    <!-- /.container -->
{% endblock %}