 <!-- Modal -->
  <div class="container modal fade" id="myModal" role="dialog">
    <!-- Władze -->
        <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Władze klubu</h2>
            </div>

        </div>
        <!-- /.row -->

    <div class="modal-dialog col-lg-8 col-lg-offset-2" style="float: none">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title text-center">Władze klubu</h3>
        </div>
        <div class="modal-body">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-male fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Zarząd</h4>
                        <ul>
                            <li><h4>Ireneusz KAMIŃSKI – prezes Zarządu</h4></li>
                            <li><h4>Sławomir TYBURA – wiceprezes Zarządu</h4></li>
                            <li><h4>Piotr ZWOLAN – sekretarz</h4></li>
                            <li><h4>Krzysztof WOJCIECHOWSKI – skarbnik</h4></li>
                            <li><h4>Dariusz SAPIEJKA – członek zarządu ds. szkoleniowych</h4></li>
                            <li><h4>Arkadiusz SOBIERAJ – członek zarządu</h4></li>
                            <li><h4>Mariusz WĄŻ – członek zarządu</h4></li>
                        </ul>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Komisja Rewizyjna</h4>
                        <ul>
                            <li><h4>Marek Drygas – przewodniczący komisji</h4></li>
                            <li><h4>Andrzej Wasilewski – sekretarz komisji</h4></li>
                            <li><h4>Michał Zabłotny – członek komisji</h4></li>
                        </ul>
                    </div>
                </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Zamknij</button>
        </div>
      </div> <!--modal-content-->
    </div> <!--modal-dialog-->
  </div>


<!-- runs modal button -->
{% block js-scripts %}
  <script>
  $(document).ready(function(){
      $("#anuluj").click(function(){
          window.location.href = "{% url 'dashboard' %}";
      });
  });
  </script>
{% endblock %}