{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Sekcje sportowe{% endblock %}
{% block content %}
 <!-- Page Content -->
    <div class="container">

     <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Żeglarstwo
                </h1>

            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="img-responsive" src="{% static 'images/zeglarstwo2.jpg' %}" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="{% static 'images/zeglarstwo3.jpg' %}" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="{% static 'images/zeglarstwo4.jpg' %}" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="{% static 'images/zeglarstwo5.jpg' %}" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="{% static 'images/zeglarstwo6.png' %}" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="{% static 'images/zeglarstwo7.png' %}" alt="">
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <h3>Trochę o nas</h3>
                <p style="text-align: justify;">
                    &nbsp;&nbsp;&nbsp;&nbsp;Żeglarstwo jest dyscypliną sportu, która w klubie zaczęła się mocno rozwijać w 2000 roku. Pierwsze kroki na trasach regatowych stawialiśmy na jachcie klasy Gemini 2000 o nazwie ASTROLABIUM.
                    Początki były bardzo trudne, brakowało głównie doświadczenia. Dzięki współpracy z doświadczonymi żeglarzami (Włodzimierzem Radwanieckim, Jarosławem Kaczorowskim oraz szczególnie dla nas ważnym Piotrem Adamowiczem) nasze wyniki były coraz lepsze.
                </p>
                <p style="text-align: justify;">
                    &nbsp;&nbsp;&nbsp;&nbsp;Akademia Marynarki Wojennej zakupiła kolejny jacht Majestic 24 RE, zaczęliśmy zdobywać medale, startować w zagranicznych regatach.
                    Nasi zawodnicy zostali reprezentantami Wojska Polskiego na międzynarodowych zawodach (wojskowe i cywilne Mistrzostwa Europy i Świata, Wojskowe Igrzyska Sportowe).
                    Nadal staramy się brać udział w jak największej liczbie zawodów. Mimo, że nie jest lekko ...
                </p>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Inne sekcje</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="{% url 'account.views.futsal' %}">
                    <img class="img-responsive img-hover img-related" src="{% static 'images/futsal500x300.png' %}" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="{% url 'account.views.lekkoatletyka' %}">
                    <img class="img-responsive img-hover img-related" src="{% static 'images/lekkoatletyka500x300.png' %}" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="{% url 'account.views.plywanie' %}">
                    <img class="img-responsive img-hover img-related" src="{% static 'images/plywanie500x300.png' %}" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="{% url 'account.views.zeglarstwo' %}">
                    <img class="img-responsive img-hover img-related" src="{% static 'images/zeglarstwo500x300.png' %}" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->

        <hr>


    </div>
    <!-- /.container -->
{% endblock %}